.image {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.blogs-list {
    padding: 0px 300px;
}

.home-page-title {
    padding: 20px;
    font-size: 23px;
}

.ant-layout {
    display: inline !important;
}

