.image {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.blogs-list {
    padding: 0px 300px;
}

.home-page-title {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.ant-layout {
    display: inline !important;
}

.price {
    white-space: nowrap;
    color: #111;
    font-weight: 700;
    display:table;
margin:0 auto;
font-size: 20px;
}

