.heading {
  font-size: 27px;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 40px;
  margin-bottom: 80px;
}

.keyFeaturesContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container-how-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.content {
  font-size: 20px;
  color: #666;
  white-space: pre-wrap;
  font-family: "Inter";
}
