.asciiDiv {
    border-radius: 10px;
    border: 1px;
    min-height: 408px;
    width: 100%;
    border-color:darkgray;
    border-style: solid;

    background-color: aliceblue;
}

.asciiCode {
    word-wrap: break-word;
    padding: 10px;
    font-size: large;
    font-family: monospace;
}

.CopyToClipboardTxt {
    text-align: right;
    color: #0645AD;
    cursor: pointer;
}