.container {
  border-radius: 10px;
  border: 1px;
  min-height: 56vh;
  width: 100%;
  border-color: darkgray;
  border-style: solid;
  background-color: aliceblue;
}

.content {
  word-wrap: break-word;
  padding: 10px;
  font-size: large;
  font-family: monospace;
  white-space: pre-wrap;
}
