.bodyTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.howToUse {
  text-align: center;
  font-size: 16px;
  display: inline;
}
.bodyContent {
  color: #ff6600;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  white-space: pre-wrap;
  display: inline;
}

.container {
  text-align: center;
  margin-bottom: 10px;
}
