.bodyTitle {
  text-align: center;
  font-size: 28px;
}
.howToUse {
  text-align: center;
  font-size: 15px;
  display: inline;
}
.bodyContent {
  color: #ff6600;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  white-space: pre-wrap;
  display: inline;
}

.container {
  text-align: center;
  margin-bottom: 10px;
}
