body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-footer {
  background-color: #04152A !important;
}

.ant-layout-content {
  /* background: rgba(16, 142, 233, 1); */
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

p, span {
  color: #000000;
}

.ant-layout-content {
  line-height: 30px !important
}

.m-top-30 {
  margin-top: 30px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-top-55 {
  margin-top: 55px;
}


.buy-now-button {

  height: 40px !important;
  background-color: #CC3D00 !important;
  border: #CC3D00 !important;
}

.content-height {
  height: calc(100vh - 232px);
}

.ant-layout {
  background-color: #ffffff !important;
}

 .cursor-pointer {
  cursor: pointer;
 }

 .m-top-50 {
  margin-top: 50px;
 }

