.search {
    margin: 13px 0 13px 0px;
    padding: 20px;
}

.more {
    color:steelblue
}

.liked {
    color:#32CD32;
}

.question-visits-ans {
    float: left;
    margin-bottom: 10px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .action-icon {
        width: 0%;
        padding: 30px !important;
    }
    .m-left-32 {
        margin-left: 1px;
    }
    
    .m-left-25 {
        margin-left: 1px;
    }
  }
  /* For tablets */
  
  @media only screen and (max-width: 768px) {
    .action-icon {
        width: 0%;
        padding: 30px !important;
    }
    .m-left-32 {
        margin-left: 2px;
    }
    
    .m-left-25 {
        margin-left: 2px;
    }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .action-icon {
        width: 100%;
        margin-top: 20px;
    }
    .m-left-32 {
        margin-left: 32px;
    }
    
    .m-left-25 {
        margin-left: 25px;
    }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .action-icon {
        width: 100%;
        margin-top: 20px;
    }
    .m-left-32 {
        margin-left: 32px;
    }
    
    .m-left-25 {
        margin-left: 25px;
    }
  }