.input-width {
    width: 50%;   
}
.input {
    height: 50px
}

.button-div {
    justify-content: center;
    display: flex;
}

.ascii-div {
    border-radius: 10px;
    border: 1px;
    min-height: 400px;
    width: 100%;
    border-color:darkgray;
    border-style: solid;

    background-color: aliceblue;
}

.asciiCode {
    word-wrap: break-word;
    padding: 10px;
    font-size: large;
    font-family: monospace;
}
.CopyToClipboardTxt {
    margin-top: 40px;
    text-align: right;
    color: #0645AD;
    cursor: pointer;
}

.paperClipOutlined {
    float: right;
    cursor: pointer;
    font-size:x-large;
}

.fileInput {
    width: 50%;
    border-color: white;
    /* float:right */
}