.button-div {
    justify-content: center;
    display: flex;
}

.CopyToClipboardTxt {
    text-align: right;
    color: #0645AD;
    cursor: pointer;
}

.paperClipOutlined {
    float: right;
    cursor: pointer;
    font-size:x-large;
}

.fileInput {
    width: 50%;
    border-color: white;
}


.bodyTitle {
    text-align: center;
}
.bodyContent {
    color: lightslategray;
    text-align: center;
    margin-bottom: 30px;
}

.mainDiv {
    display: flex;
    justify-content: center;
    width: 100%
}