/* extra small */
@media only screen and (min-width: 480px) {
  .input {
    width: 100% !important;
  }
}
/* For iPhone */
@media only screen and (min-device-width: 480px) {
  .input {
    width: 100% !important;
  }
  .user-profile-value {
    line-height: unset;
    margin-left: 0;
  }
}
/* For tablets */

@media only screen and (min-device-width: 768px) {
  .input {
    width: 80% !important;
  }
  .user-profile-value {
    line-height: unset;
    margin-left: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .input {
    width: 60% !important;
  }
  .user-profile-value {
    line-height: unset;
    margin-left: 80px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .input {
    width: 60% !important;
  }
  .user-profile-value {
    line-height: unset;
    margin-left: 80px;
  }
}


